{% extends "base.html" %}
{% load static %}

{% block title %}
Publicar Producto
{% endblock %}

{% block content %}
<!-- Header con el logo -->
<header id="header" class="header">
    <div class="row-top">
        <a href="/" class="logo">
            <img src="{% static 'images/logo.png' %}" alt="logo">
        </a>
    </div>
</header>

<h1>Publicar Productoo </h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Mostrar todos los campos del formulario -->
    {{ form.as_p }}
    
    <!-- Campo para subir múltiples imágenes -->
    <label for="imagenes">Imágenes (máx. 8):</label>
    <input type="file" name="imagenes" id="imagenes" accept="image/*" multiple>
    <p>Puedes subir hasta 8 imágenes.</p>
    
    <button type="submit" class="btn btn-primary">Publicar</button>
</form>
{% endblock %}
