{% extends "base.html" %}
{% load static %}

{% block title %}Registro{% endblock %}

{% block content %}
<!-- Header con el logo -->
<header id="header" class="header">
    <div class="row-top">
        <a href="/" class="logo">
            <img src="{% static 'images/logo.png' %}" alt="logo">
        </a>
    </div>
</header>


<!-- Formulario de registro -->
<h2>Crear cuenta</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Registrarse</button>
</form>

<!-- Opción para ir al login -->
<p style="margin-top: 20px;">
    ¿Ya tienes una cuenta? <a href="{% url 'account_login' %}">Inicia sesión aquí</a>.
</p>
{% endblock %}
