<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Proyecto{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>
<body>
    <!-- Main Content -->
    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-icons">
            <!-- Enlace al inicio -->
            <a href="/" class="footer-icon">
                <img src="{% static 'images/icons/home.png' %}" alt="Inicio">
                <span>Inicio</span>
            </a>
    
            <!-- Favoritos -->
            <!-- Favoritos -->
<a href="{% url 'favoritos' %}" class="footer-icon btn-favorito" id="favoritooo">
    <img src="{% static 'images/icons/favorites.png' %}" alt="Favoritos">
    <span>Favoritos</span>
</a>

            <!-- Subir contenido -->
            {% if user.is_authenticated %}
                <a href="{% url 'publicar_producto' %}" class="footer-icon">
                    <img src="{% static 'images/icons/upload.png' %}" alt="Subir">
                    <span>Subir</span>
                </a>
            {% else %}
                <a href="{% url 'account_login' %}?next={% url 'publicar_producto' %}" class="footer-icon">
                    <img src="{% static 'images/icons/upload.png' %}" alt="Subir">
                    <span>Subir</span>
                </a>
            {% endif %}
    
            <!-- Chat -->
            <a href="#" class="footer-icon">
                <img src="{% static 'images/icons/chat.png' %}" alt="Chat">
                <span>Chat</span>
            </a>
    
            <!-- Perfil o inicio de sesión -->
            {% if user.is_authenticated %}
                <a href="{% url 'perfil' %}" class="footer-icon">
                    <img src="{% static 'images/icons/profile.png' %}" alt="Perfil">
                    <span>Perfil</span>
                </a>
            {% else %}
                <a href="{% url 'account_login' %}?next={% url 'perfil' %}" class="footer-icon">
                    <img src="{% static 'images/icons/profile.png' %}" alt="Iniciar sesión">
                    <span>Iniciar sesión</span>
                </a>
            {% endif %}
        </div>
    </footer>
    
    <script src="{% static 'js/javascript.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
